@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

a {
    text-decoration: none;
    color: #2C2D35;
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 1440px;
    height: 100px;
    
    background-color: #E1EDE6;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143px;

}

.company_name{
    color: #598D66;
    font-weight: 700;
    font-size: 20px;
}

.navigation {
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 470px;
    height: 24px;

    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

